body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 { font-weight: bolder;}
html, body { height: 120%; }
body { display: flex; flex-direction: column; } 
main { flex: 1; } 
footer { flex-shrink: 0; }

.card { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}
.add-to-cart-btn {
    background-color: #28a745;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.add-to-cart-btn i {
    margin-right: 8px;
}

.add-to-cart-btn:hover {
    background-color: #218838;
    color: white;
}

.add-to-cart-btn:active {
    background-color: #1e7e34;
    color: white;
}
.custom-input-group .form-control { margin-right: 10px; }

/* Hero Section Custom Styles */
.hero-section {
    color: #ffffff; 
    font-weight: bold; 
}

.hero-section h1 {
    color: #ffc107; 
    font-weight: bolder; 
}

.hero-section p {
    color: #ffffff; 
    font-weight: bold;
}

.hero-section .btn {
    color: #ffffff; 
    background-color: #28a745;
    border-color: #28a745;
    font-weight: bold; 
}

/* Highlight Text Custom Styles */
.highlight-text {
    background-color: #717171; 
    color: #fff; 
    font-weight: bold; 
    padding: 0 5px; 
}
